footer.ind-footer 
    .containers 
        .ind-footer__content 
            a(href="/").ind-footer__content-logo
                img(src="./img/footer-logo.png" alt="logo")
            .ind-footer__content-t We ara a lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud equip ex ea commodo consequat... Read More
            ul.ind-footer__content-m 
                li.ind-footer__content-c
                    a(href="#") 
                        img(src="./svg/footer/icons.svg" alt="icons")
                li.ind-footer__content-c
                    a(href="#") 
                        img(src="./svg/footer/icons.svg" alt="icons")
                li.ind-footer__content-c
                    a(href="#") 
                        img(src="./svg/footer/icons.svg" alt="icons")
                li.ind-footer__content-c
                    a(href="#") 
                        img(src="./svg/footer/icons.svg" alt="icons")
            ul.ind-footer__content-l 
                li.ind-footer__content-year © 2022 Togo
                li.ind-footer__content-path 
                    a(href="#service") Как работает ?
                    p ●
                    a(href="#work") Почему мы ?
                    p ●
                    a(href="#tariff") Тарифы
                    p ●
                    a(href="#reviews") Отзывы
                li.ind-footer__content-create 
                    a(href="https://bpump.ru/") Сайт разработан компанией Business Pump