header.ind-header 
        .ind-header__containers
            a(href="/").ind-header__logo
                img(src="./img/header-logo.png" alt="logo")
            ul.ind-header__list 
                li.ind-header__items 
                    a(href="#service").ind-header__items-i Как работает ?
                    .ind-header__items-d ●
                li.ind-header__items 
                    a(href="#work").ind-header__items-i Почему мы ?
                    .ind-header__items-d ●
                li.ind-header__items 
                    a(href="#tariff").ind-header__items-i Тарифы
                    .ind-header__items-d ●
                li.ind-header__items 
                    a(href="#").ind-header__items-i Отзывы
            .ind-header__btns 
                a(href="#").ind-header__enter 
                    p Войти
                a(href="#").ind-header__start
                    p Начать
