@@include('components/_head.pug', {
    "title": "Главная",
})



section.ind-headers
    .preloading
        .preloading__start
        .preloading__state
            img(src="./img/footer-logo.png", alt="icons")
    @@include('components/_header.pug')
    .containers 
        .ind-headers__wrapper.wow.fadeInUp(data-wow-delay="3.3s")
            .ind-headers__content 
                .ind-headers__content-t.wow.fadeInUp(data-wow-delay="3.4s") С нами твои товары всегда будут в топе
                .ind-headers__content-d.wow.fadeInUp(data-wow-delay="3.5s") Продвигай свои товары на Wildberries и Ozon
                    br
                    | за пару кликов 
                .ind-headers__content-btns.wow.fadeInUp(data-wow-delay="3.6s") 
                    a(href="#").ind-headers__content-b
                        p Попробовать
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.43 5.93018L20.5 12.0002L14.43 18.0702" stroke="#4F6BFD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.5 12H20.33" stroke="#4F6BFD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    a(href="#").ind-headers__content-wb
                        img(src="./svg/headers/wb.svg" alt="icons")  
                        p Wildberries
                    a(href="#").ind-headers__content-ozon 
                        img(src="./img/headers/ozon.png" alt="icons")  
                        p Ozon
                ul.ind-headers__content-l.wow.fadeInUp(data-wow-delay="3.7s")
                    li.ind-headers__content-i 
                        h3 5 127
                        p Зарегистрировались на сервисе
                    li.ind-headers__content-ln
                    li.ind-headers__content-i 
                        h3 18 678
                        p Сделанных 
                            br
                            | выкупов
                    li.ind-headers__content-ln
                    li.ind-headers__content-i 
                        h3 12 432
                        p Оставленных отзывов
            .ind-headers__banner.wow.fadeInRight(data-wow-delay="3.6s")
                ul.ind-headers__banner-d 
                    li.ind-headers__banner-i 
                    li.ind-headers__banner-i 
                    li.ind-headers__banner-i 
                .ind-headers__banner-p 
                    img(src="./img/headers/banner.png" alt="img")

a(name="service") 
section.ind-service
    .ind-service__containers.wow.fadeInDown(data-wow-delay="0.4s")
        .ind-service__content
            .ind-service__content-t.wow.fadeInDown(data-wow-delay="0.5s") Как работает наш сервис?
            .ind-service__content-l 
                .ind-service__content-d 
                    .ind-service__content-dec.wow.fadeInDown(data-wow-delay="0.7s")
                    .ind-service__content-dec.wow.fadeInDown(data-wow-delay="0.8s") 
                    .ind-service__content-dec.wow.fadeInDown(data-wow-delay="0.9s")
                .swiper.indexService
                    .swiper-wrapper
                        .swiper-slide
                            .ind-service__content-i.ind-service__content-i-one.wow.fadeInUp(data-wow-delay="0.5s")
                                .ind-service__content-n 
                                    p 1
                                .ind-service__content-text
                                    p Wildberries и Ozon ранжирует товары в поисковой выдаче исходя из продаж за последние 14 дней. Чем больше продаж ты делаешь, тем выше находишься. ТОП — это проводник к продажам и увеличению дохода
                        .swiper-slide 
                            .ind-service__content-i.ind-service__content-i-two.wow.fadeInUp(data-wow-delay="0.6s")
                                .ind-service__content-n 
                                    p 2 
                                .ind-service__content-text
                                    p Чтобы выйти в ТОП, нужно знать, сколько зарабатывает твой конкурент. Наш сервис анализирует продажи конкурентов, и сам подбирает нужные инструменты, тебе лишь нужно нажать две кнопки мыши 
                                .ind-service__content-decr-1
                                .ind-service__content-decr-2
                                .ind-service__content-decr-3
                        .swiper-slide 
                            .ind-service__content-i.ind-service__content-i-three.wow.fadeInUp(data-wow-delay="0.8s")
                                .ind-service__content-n 
                                    p 3 
                                .ind-service__content-text
                                    p В течение следующих 14 дней togotop.ru совершает необходимое количество выкупов, добавляет товар в избранное, оставляет отзывы (псс... отзывы у нас бесплатные)
                                .ind-service__content-decr-1
                                .ind-service__content-decr-2
                                .ind-service__content-decr-3
                        .swiper-slide 
                            .ind-service__content-i.ind-service__content-i-four.wow.fadeInUp(data-wow-delay="0.9s")
                                .ind-service__content-n 
                                    p 4
                                .ind-service__content-text
                                    p Ура! Теперь товар в ТОПе, а у тебя осталось время для совершения новых успешных подвигов 
                .swiper-controls.wow.fadeInUp(data-wow-delay="0.6s")
                    .swiper-button-next
                    .swiper-button-prev
                    .swiper-pagination

a(name="work")
section.ind-work
    .containers 
        .ind-work__content.wow.fadeInDown(data-wow-delay="0.4s")
            .ind-work__content-t.wow.fadeInDown(data-wow-delay="0.5s") Почему нужно работать именно с нами? 
            .ind-work__content-b.wow.fadeInUp(data-wow-delay="0.9s")
                img(src="./svg/work/banner.svg" alt="banner")
            ul.ind-work__content-l
                li.ind-work__content-i.wow.fadeInUp(data-wow-delay="0.6s")
                    .ind-work__content-title Уникальный опыт 
                    .ind-work__content-text Мы сами уже больше 3 лет продаём свои товары на маркетплейсах. И вопрос: «как выйти в ТОП?» всегда был на первом месте. Поэтому и был придуман этот сервис — для нас и для тебя, чтобы сэкономить время, нервы и деньги 
                    .ind-work__content-decr 
                        img(src="./svg/work/icons-1.svg" alt="icons")
                        img(src="./svg/work/dec-icons-1.svg" alt="icons")

                li.ind-work__content-i.wow.fadeInUp(data-wow-delay="0.7s") 
                    .ind-work__content-title Быстро и просто 
                    .ind-work__content-text Всего несколько движений мышью и ты уже увеличил свою прибыль в несколько раз, при этом не потратил самый драгоценный ресурс – время
                    .ind-work__content-decr 
                        img(src="./svg/work/icons-2.svg" alt="icons")
                        img(src="./svg/work/dec-icons-2.svg" alt="icons")

                li.ind-work__content-i.wow.fadeInUp(data-wow-delay="0.8s")
                    .ind-work__content-title Комплексные 
                        br
                        | решения 
                    .ind-work__content-text Сервис togotop.ru полностью автоматизирован — его алгоритм сам подбирает необходимое количество инструментов, чтобы попасть в ТОП. Поэтому мы точно знаем, что нужно именно тебе + мы предоставляем не только выкупы, но и отзывы, лайки, добавление в избранное и даже лайки на отзывы 
                    .ind-work__content-decr 
                        img(src="./svg/work/icons-3.svg" alt="icons")
                        img(src="./svg/work/dec-icons-3.svg" alt="icons")

section.ind-market
    .containers 
        .ind-market__content.wow.fadeInDown(data-wow-delay="0.4s") 
            .ind-market__content-t.wow.fadeInDown(data-wow-delay="0.5s") Выход в ТОП на МаркетплейсЕ
            .ind-market__content-d.wow.fadeInUp(data-wow-delay="0.7s") 
                img(src="./svg/market/banner.svg" alt="icons") 
            ul.ind-market__content-l 
                li.ind-market__content-i.wow.fadeInUp(data-wow-delay="0.5s") 
                    .ind-market__content-p 
                        img(src="./img/market/img.png" alt="img")
                        .ind-market__content-promotion 
                            p -33%
                    .ind-market__content-price 
                        .ind-market__content-last 8 000 ₽
                        .ind-market__content-prev 10 000 ₽
                    .ind-market__content-type 
                        p Футбольный мяч
                        span /
                        p Спорт
                    .ind-market__content-descr 
                        h3 60 000₽ 
                        p До / день
                li.ind-market__content-i.wow.fadeInUp(data-wow-delay="0.6s") 
                    .ind-market__content-p 
                        img(src="./img/market/img.png" alt="img")
                        .ind-market__content-promotion 
                            p -33%
                    .ind-market__content-price 
                        .ind-market__content-last 8 000 ₽
                        .ind-market__content-prev 10 000 ₽
                    .ind-market__content-type 
                        p Футбольный мяч
                        span /
                        p Спорт
                    .ind-market__content-descr 
                        h3 60 000₽ 
                        p До / день
                li.ind-market__content-i.wow.fadeInUp(data-wow-delay="0.7s") 
                    .ind-market__content-p 
                        img(src="./img/market/img.png" alt="img")
                        .ind-market__content-promotion 
                            p -33%
                    .ind-market__content-price 
                        .ind-market__content-last 8 000 ₽
                        .ind-market__content-prev 10 000 ₽
                    .ind-market__content-type 
                        p Футбольный мяч
                        span /
                        p Спорт
                    .ind-market__content-descr 
                        h3 60 000₽ 
                        p До / день
                li.ind-market__content-i.wow.fadeInUp(data-wow-delay="0.8s") 
                    .ind-market__content-p 
                        img(src="./img/market/img.png" alt="img")
                        .ind-market__content-promotion 
                            p -33%
                    .ind-market__content-price 
                        .ind-market__content-last 8 000 ₽
                        .ind-market__content-prev 10 000 ₽
                    .ind-market__content-type 
                        p Футбольный мяч
                        span /
                        p Спорт
                    .ind-market__content-descr 
                        h3 60 000₽ 
                        p До / день

a(name="tariff") 
section.ind-tariff
    .containers 
        .ind-tariff__content.wow.fadeInDown(data-wow-delay="0.4s") 
            .ind-tariff__content-t.wow.fadeInDown(data-wow-delay="0.5s") Тарифы 
            ul.ind-tariff__content-l 
                li.ind-tariff__content-i.wow.fadeInUp(data-wow-delay="0.7s")
                    .ind-tariff__content-title НОВИЧОК:
                    .ind-tariff__content-p 
                        p от
                            span 75₽
                            | за 1 выкуп 
                    .ind-tariff__content-plus 
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" stroke="#525666" stroke-width="2"/>
                            <path d="M7.5 15.25L12.1565 20.25L23.25 9" stroke="#525666" stroke-width="2"/>
                        </svg>
                        p на 1 месяц
                    .ind-tariff__content-plus 
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" stroke="#525666" stroke-width="2"/>
                            <path d="M7.5 15.25L12.1565 20.25L23.25 9" stroke="#525666" stroke-width="2"/>
                        </svg>
                        p 50 выкупов
                    .ind-tariff__content-plus 
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" stroke="#525666" stroke-width="2"/>
                            <path d="M7.5 15.25L12.1565 20.25L23.25 9" stroke="#525666" stroke-width="2"/>
                        </svg>
                        p бесплатные отзывы 
                    a(href="#").ind-tariff__content-btn
                        p Попробовать бесплатно
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.43 5.92993L20.5 11.9999L14.43 18.0699" stroke="#E5F6FF" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.5 12H20.33" stroke="#E5F6FF" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                li.ind-tariff__content-i.wow.fadeInUp(data-wow-delay="0.9s")
                    .ind-tariff__content-title СРЕДНИЙ:
                    .ind-tariff__content-p 
                        p от
                            span 50₽
                            | за 1 выкуп 
                    .ind-tariff__content-plus 
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" stroke="#525666" stroke-width="2"/>
                            <path d="M7.5 15.25L12.1565 20.25L23.25 9" stroke="#525666" stroke-width="2"/>
                        </svg>
                        p на 2 месяц
                    .ind-tariff__content-plus 
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" stroke="#525666" stroke-width="2"/>
                            <path d="M7.5 15.25L12.1565 20.25L23.25 9" stroke="#525666" stroke-width="2"/>
                        </svg>
                        p 500 выкупов
                    .ind-tariff__content-plus 
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" stroke="#525666" stroke-width="2"/>
                            <path d="M7.5 15.25L12.1565 20.25L23.25 9" stroke="#525666" stroke-width="2"/>
                        </svg>
                        p бесплатные отзывы 
                    a(href="#").ind-tariff__content-btn
                        p Попробовать бесплатно
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.43 5.92993L20.5 11.9999L14.43 18.0699" stroke="#E5F6FF" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.5 12H20.33" stroke="#E5F6FF" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                li.ind-tariff__content-i.wow.fadeInUp(data-wow-delay="1.1s")
                    .ind-tariff__content-title Опытный:
                    .ind-tariff__content-p 
                        p от
                            span 25₽
                            | за 1 выкуп 
                    .ind-tariff__content-plus 
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" stroke="#525666" stroke-width="2"/>
                            <path d="M7.5 15.25L12.1565 20.25L23.25 9" stroke="#525666" stroke-width="2"/>
                        </svg>
                        p на 3 месяц
                    .ind-tariff__content-plus 
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" stroke="#525666" stroke-width="2"/>
                            <path d="M7.5 15.25L12.1565 20.25L23.25 9" stroke="#525666" stroke-width="2"/>
                        </svg>
                        p 5000 выкупов
                    .ind-tariff__content-plus 
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" stroke="#525666" stroke-width="2"/>
                            <path d="M7.5 15.25L12.1565 20.25L23.25 9" stroke="#525666" stroke-width="2"/>
                        </svg>
                        p бесплатные отзывы 
                    a(href="#").ind-tariff__content-btn
                        p Попробовать бесплатно
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.43 5.92993L20.5 11.9999L14.43 18.0699" stroke="#E5F6FF" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.5 12H20.33" stroke="#E5F6FF" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

a(name="reviews")
section.ind-reviews
    .containers 
        .ind-reviews__content.wow.fadeInDown(data-wow-delay="0.4s") 
            .ind-reviews__content-t.wow.fadeInDown(data-wow-delay="0.5s") Отзывы 
            .ind-reviews__content-s 
                .swiper.reviewsSlider
                    .swiper-wrapper

                        .swiper-slide
                            .ind-reviews__content-i 
                                .ind-reviews__content-p.wow.fadeInUp(data-wow-delay="0.5s") 
                                    img(src="./img/reviews/photo.png" alt="img")
                                .ind-reviews__content-c.wow.fadeInUp(data-wow-delay="0.6s") 
                                    .ind-reviews__content-title.wow.fadeInUp(data-wow-delay="0.7s") 
                                        h3 Михаил Нимец
                                        p сфера деятельности:
                                            span  текстиль, ООО «Домашний текстиль»  
                                    ul.ind-reviews__content-table.wow.fadeInUp(data-wow-delay="0.8s") 
                                        li.ind-reviews__content-e 
                                            h3 Заработок в найме
                                            p > 100 000 ₽/мес.
                                        li.ind-reviews__content-e 
                                            h3 Заработок на маркетплейсах:
                                            p > 150 000 ₽/мес.
                                        li.ind-reviews__content-e 
                                            h3 Заработок на маркетплейсах с помощью сервиса:
                                            p > 400 000 ₽/мес.

                                    .ind-reviews__content-add.wow.fadeInUp(data-wow-delay="0.8s")  За это время Михаил:  
                                    ul.ind-reviews__content-l.wow.fadeInUp(data-wow-delay="0.9s") 
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p заработал более 
                                                span 2 млн
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p привлек инвестиции в свой продукт
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p расширил ассортимент магазина 
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p повысил средний чек 
                        .swiper-slide
                            .ind-reviews__content-i 
                                .ind-reviews__content-p.wow.fadeInUp(data-wow-delay="0.5s") 
                                    img(src="./img/reviews/photo.png" alt="img")
                                .ind-reviews__content-c.wow.fadeInUp(data-wow-delay="0.6s") 
                                    .ind-reviews__content-title.wow.fadeInUp(data-wow-delay="0.7s") 
                                        h3 Михаил Нимец
                                        p сфера деятельности:
                                            span  текстиль, ООО «Домашний текстиль»  
                                    ul.ind-reviews__content-table.wow.fadeInUp(data-wow-delay="0.8s") 
                                        li.ind-reviews__content-e 
                                            h3 Заработок в найме
                                            p > 100 000 ₽/мес.
                                        li.ind-reviews__content-e 
                                            h3 Заработок на маркетплейсах:
                                            p > 150 000 ₽/мес.
                                        li.ind-reviews__content-e 
                                            h3 Заработок на маркетплейсах с помощью сервиса:
                                            p > 400 000 ₽/мес.

                                    .ind-reviews__content-add.wow.fadeInUp(data-wow-delay="0.8s")  За это время Михаил:  
                                    ul.ind-reviews__content-l.wow.fadeInUp(data-wow-delay="0.9s") 
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p заработал более 
                                                span 2 млн
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p привлек инвестиции в свой продукт
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p расширил ассортимент магазина 
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p повысил средний чек 
                        .swiper-slide
                            .ind-reviews__content-i 
                                .ind-reviews__content-p.wow.fadeInUp(data-wow-delay="0.5s") 
                                    img(src="./img/reviews/photo.png" alt="img")
                                .ind-reviews__content-c.wow.fadeInUp(data-wow-delay="0.6s") 
                                    .ind-reviews__content-title.wow.fadeInUp(data-wow-delay="0.7s") 
                                        h3 Михаил Нимец
                                        p сфера деятельности:
                                            span  текстиль, ООО «Домашний текстиль»  
                                    ul.ind-reviews__content-table.wow.fadeInUp(data-wow-delay="0.8s") 
                                        li.ind-reviews__content-e 
                                            h3 Заработок в найме
                                            p > 100 000 ₽/мес.
                                        li.ind-reviews__content-e 
                                            h3 Заработок на маркетплейсах:
                                            p > 150 000 ₽/мес.
                                        li.ind-reviews__content-e 
                                            h3 Заработок на маркетплейсах с помощью сервиса:
                                            p > 400 000 ₽/мес.

                                    .ind-reviews__content-add.wow.fadeInUp(data-wow-delay="0.8s")  За это время Михаил:  
                                    ul.ind-reviews__content-l.wow.fadeInUp(data-wow-delay="0.9s") 
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p заработал более 
                                                span 2 млн
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p привлек инвестиции в свой продукт
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p расширил ассортимент магазина 
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p повысил средний чек 
                        .swiper-slide
                            .ind-reviews__content-i 
                                .ind-reviews__content-p.wow.fadeInUp(data-wow-delay="0.5s") 
                                    img(src="./img/reviews/photo.png" alt="img")
                                .ind-reviews__content-c.wow.fadeInUp(data-wow-delay="0.6s") 
                                    .ind-reviews__content-title.wow.fadeInUp(data-wow-delay="0.7s") 
                                        h3 Михаил Нимец
                                        p сфера деятельности:
                                            span  текстиль, ООО «Домашний текстиль»  
                                    ul.ind-reviews__content-table.wow.fadeInUp(data-wow-delay="0.8s") 
                                        li.ind-reviews__content-e 
                                            h3 Заработок в найме
                                            p > 100 000 ₽/мес.
                                        li.ind-reviews__content-e 
                                            h3 Заработок на маркетплейсах:
                                            p > 150 000 ₽/мес.
                                        li.ind-reviews__content-e 
                                            h3 Заработок на маркетплейсах с помощью сервиса:
                                            p > 400 000 ₽/мес.

                                    .ind-reviews__content-add.wow.fadeInUp(data-wow-delay="0.8s")  За это время Михаил:  
                                    ul.ind-reviews__content-l.wow.fadeInUp(data-wow-delay="0.9s") 
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p заработал более 
                                                span 2 млн
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p привлек инвестиции в свой продукт
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p расширил ассортимент магазина 
                                        li.ind-reviews__content-g 
                                            img(src="./svg/reviews/check.svg" alt="icons")
                                            p повысил средний чек 
                        

                .swiper-controls
                    .swiper-button-next
                    .swiper-button-prev
                    .swiper-pagination

section.ind-banner
    .containers 
        .ind-banner__content.wow.fadeInDown(data-wow-delay="0.4s")
            .ind-banner__content-t.wow.fadeInUp(data-wow-delay="0.6s") Хочешь стать ТОПовым продавцом на маркетплейсах России? подключи togotop.ru 
            .ind-banner__content-d.wow.fadeInUp(data-wow-delay="0.7s") Весь функционал абсолютно бесплатно на 3 дня
            a(href="#").ind-banner__content-b.wow.fadeInUp(data-wow-delay="0.8s")
                p Попробовать  
                img(src="./svg/banner/arrow.svg" alt="icons")

section.ind-question
    .containers 
        .ind-question__content.wow.fadeInDown(data-wow-delay="0.4s")
            .ind-question__content-t.wow.fadeInDown(data-wow-delay="0.5s") Вопросы и ответы
            .ind-question__content-d.wow.fadeInUp(data-wow-delay="0.7s")
                img(src="./svg/question/banner.svg" alt="icons")
            ul.ind-question__content-l
                li.ind-question__content-i.wow.fadeInUp(data-wow-delay="0.6s") 
                    .ind-question__content-c 
                        h3 Я могу и сам выйти на маркетплейс, зачем вы мне нужны?
                        img(src="./svg/question/plus.svg" alt="icons")
                    .ind-question__content-line 
                    .ind-question__content-text.question-hide У разных маркетплейсов разные требования. Мы вывели 3000+ продавцов за 2,5 года работы и знаем точно как пройти модерацию. Не теряйте время на изучение материалов, начните продавать скорее с нами.
                li.ind-question__content-i.wow.fadeInUp(data-wow-delay="0.7s")
                    .ind-question__content-c 
                        h3 Я могу и сам выйти на маркетплейс, зачем вы мне нужны?
                        img(src="./svg/question/plus.svg" alt="icons")
                    .ind-question__content-line 
                    .ind-question__content-text.question-hide У разных маркетплейсов разные требования. Мы вывели 3000+ продавцов за 2,5 года работы и знаем точно как пройти модерацию. Не теряйте время на изучение материалов, начните продавать скорее с нами.
                li.ind-question__content-i.wow.fadeInUp(data-wow-delay="0.8s")
                    .ind-question__content-c 
                        h3 Я могу и сам выйти на маркетплейс, зачем вы мне нужны?
                        img(src="./svg/question/plus.svg" alt="icons")
                    .ind-question__content-line 
                    .ind-question__content-text.question-hide У разных маркетплейсов разные требования. Мы вывели 3000+ продавцов за 2,5 года работы и знаем точно как пройти модерацию. Не теряйте время на изучение материалов, начните продавать скорее с нами.
                li.ind-question__content-i.wow.fadeInUp(data-wow-delay="0.9s")
                    .ind-question__content-c 
                        h3 Я могу и сам выйти на маркетплейс, зачем вы мне нужны?
                        img(src="./svg/question/plus.svg" alt="icons")
                    .ind-question__content-line 
                    .ind-question__content-text.question-hide У разных маркетплейсов разные требования. Мы вывели 3000+ продавцов за 2,5 года работы и знаем точно как пройти модерацию. Не теряйте время на изучение материалов, начните продавать скорее с нами.
                li.ind-question__content-i.wow.fadeInUp(data-wow-delay="1s")
                    .ind-question__content-c 
                        h3 Я могу и сам выйти на маркетплейс, зачем вы мне нужны?
                        img(src="./svg/question/plus.svg" alt="icons")
                    .ind-question__content-line 
                    .ind-question__content-text.question-hide У разных маркетплейсов разные требования. Мы вывели 3000+ продавцов за 2,5 года работы и знаем точно как пройти модерацию. Не теряйте время на изучение материалов, начните продавать скорее с нами.



@@include('components/_footer.pug')

@@include('components/_script.pug')