@@include('components/_head.pug', {
    "title": "Восстановление пароля",
})

.reset    
    .reset__banner 
        a(href="/").reset__banner-logo 
            img(src="./img/footer-logo.png" alt="logo")
        .reset__banner-img 
            img(src="./svg/form/banner.svg" alt="banner")
    .reset__form 
        .reset__form-nav 
            a(href="index.html").reset__form-back 
                img(src="./svg/form/arrow-back.svg" alt="icons")
                p Вернуться на сайт
            a(href="signin.html").reset__form-signin У вас уже есть аккаунт? 
                span Войти
        .reset__form-wrapper 
            .reset__form-title Восстановление пароля
            .reset__form-email 
                label(for="reset__email") Email адрес* 
                input(type="text" id='reset__email' placeholder="Email адрес" require)
            button(type="submit" disabled="disabled").reset__form-btn 
                p Восстановить 


@@include('components/_script.pug')