@import "fonts";

//! --------------------------------------------------------------------
//! Переменные ---------------------------------------------------------
//! --------------------------------------------------------------------

$bg: #fff;

//! --------------------------------------------------------------------
//! Стили --------------------------------------------------------------
//! --------------------------------------------------------------------

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
body {
	width: 100%;
	position: relative;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
input {
	padding: 0;
	margin: 0;
	border: 0;
	border: none;
	outline: none;
}
button {
	padding: 0;
	border: none;
	cursor: pointer;
}
.containers {
	max-width: 1440px;
	padding: 0 120px;
	margin: 0 auto;
	width: 100%;
}
ol,
ul {
	padding-left: 0;
}
dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 0;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}
.display-n {
	display: none !important;
}

.question-hide {
	transition: all 0.5s ease;
	height: 0;
	overflow: hidden;
	margin: 0 0 0 0 !important;
}

.ind-header {
	width: 100%;
	background: transparent;
	padding: 35px 0;
	position: relative;
	z-index: 5;
	&__containers {
		max-width: 1440px;
		padding: 0 120px 0 120px;
		margin: 0 auto;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__menu {
		display: none;
	}
	&__logo {
		cursor: pointer;
		& img {
			width: 190px;
		}
	}
	&__list {
		display: flex;
		align-content: center;
		justify-content: center;
		gap: 32px;
	}
	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 32px;
		cursor: pointer;
		&-i {
			font-family: TTNorms;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 120%;
			letter-spacing: 0.02em;
			color: #000000;
		}
	}
	&__btns {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__start {
		padding: 15px 50px;
		border: 1.5px solid #000000;
		display: flex;
		align-items: center;
		cursor: pointer;
		justify-content: center;
		text-align: center;
		border-radius: 40px;
		background: transparent;
		transition: all 0.5s ease;
		margin: 0 0 0 30px;
		&:hover {
			background: #000;
			transition: all 0.5s ease;
			& p {
				transition: all 0.5s ease;
				color: #fff;
			}
		}
		& p {
			font-family: TTNorms;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			color: #000000;
			transition: all 0.5s ease;
		}
	}
	&__enter {
		background: transparent;
		cursor: pointer;
		& p {
			font-family: TTNorms;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			color: #000000;
		}
	}
}

.ind-footer {
	background: #4f6bfd;
	width: 100%;
	padding: 38px 0 57px 0;
	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		&-logo {
			cursor: pointer;
			margin: 0 auto;
			& a {
				margin: 0 auto;
			}
		}
		&-t {
			width: 788px;
			font-family: TTNorms;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			color: #ffffff;
		}
		&-m {
			margin: 25px 0 0 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-c {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			border: 2px solid #ffffff;
			border-radius: 30px;
			margin: 0 12px 0 0;
			&:last-child {
				margin: 0 0 0 0;
			}
			& a {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		&-l {
			margin: 60px 0 0 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}
		&-year {
			font-family: TTNorms;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			color: #ededed;
		}
		&-create {
			font-family: TTNorms;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			color: #ededed;
			cursor: pointer;
			& a {
				font-family: TTNorms;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 17px;
				color: #ededed;
				cursor: pointer;
			}
		}
		&-path {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 30px;
			margin: 0 0 0 120px;
			& a {
				font-family: TTNorms;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 120%;
				letter-spacing: 0.02em;
				color: #ffffff;
				cursor: pointer;
			}
			& p {
				color: #fff;
				font-size: 16px;
			}
		}
	}
}

.preloading {
	display: block;
	&__start {
		width: 100%;
		height: 100vh;
		background: #fdbd28;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100000000;
	}
	&__state {
		width: 100%;
		height: 100vh;
		background: #000;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000000001;
		& img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

//! --------------------------------------------------------------------
//! Подключение файлов -------------------------------------------------
//! --------------------------------------------------------------------

@import "index/style";
@import "form/style";

//! --------------------------------------------------------------------
//! --------------------------------------------------------------------
//! --------------------------------------------------------------------
